.App {
  text-align: center;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}

.header {
  padding: 60px 20px;
}

.logo {
  max-width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.footer {
  width: 100%;
  padding: 20px;
  background-color: rgba(0,0,0,0.2);
  font-size: 0.9rem;
  text-align: center;
}


