body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  overflow-x: hidden;
  width: 100%;
}

.header {
  padding: 60px 20px;
}

.logo {
  max-width: 100px;
  height: auto;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  padding: 20px;
  background-color: rgba(0,0,0,0.2);
  font-size: 0.9rem;
  text-align: center;
}
