:root{
    --timetable-border-color: #9e9e9e;
    --timetable-table-color: #161b30;
    --timetable-page-color: #17243c;
    --timetable-highlight-color: #37587c;
    --timetable-text-color: #FFFFFF;
    --timetable-header-color: #333333;
    --timetable-border-radius: 10px;
}

.timetable-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timetable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*width: 1000px;*/
    /*height: 500px;*/

    background-color: var(--timetable-page-color);
    border-radius: var(--timetable-border-radius);
}

.timetable table {
    display: inline-table;
    border: var(--timetable-border-color) solid 3px;
    background-color: var(--timetable-table-color);
    border-radius: var(--timetable-border-radius);
    border-spacing: 0;
}

.timetable tr{
    border-radius: var(--timetable-border-radius);
}

th, td {
    padding: 10px;
    margin: 0;
    border-radius: var(--timetable-border-radius);
}

.timetable-header{
    background-color: var(--timetable-header-color);
}

.timetable-row{
    background-color: var(--timetable-table-color);
}

.timetable-row:hover{
    background-color: var(--timetable-highlight-color);
}

.timetable-filter {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin: 10px;
}

.timetable-filter label {
    padding: 2px;
    width: 100px;
    margin: 4px;
    border: solid 1px var(--timetable-border-color);
    border-radius: var(--timetable-border-radius);
}
/* Target labels that have a radio input as child. */
.timetable-filter label:has(input[type=radio]) {
    background: var(--timetable-table-color);
}
/* Change label background when the child element is checked. */
.timetable-filter label:has(input[type=radio]:checked) {
    background: var(--timetable-highlight-color);
}
/* Apply focus outline when the child element has focus. */
.timetable-filter label:has(input[type=radio]:focus-visible) {
    outline: 1px solid blue;
}
/* Hide the actual radio input and place it on top of the label. */
.timetable-filter input[type=radio] {
    position:absolute;
    opacity: 0;
}

