:root{
    --timetable-border-color: #737373;
    --timetable-table-color: #1f233c;
    --timetable-highlight-color: #436393;
    --timetable-text-color: #FFFFFF;
    --timetable-text-highlight-color: #2e2e2e;
    --timetable-header-color: #333333;
    --timetable-border-radius: 7px;
    --timetable-button-color: #2c3440;
    --timetable-transition-time: 0.2s;
}

.timetable-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timetable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--timetable-border-radius);
}

.timetable table {
    display: inline-table;
    border: var(--timetable-border-color) solid 2px;
    background-color: var(--timetable-table-color);
    border-radius: var(--timetable-border-radius);
    border-spacing: 0;
}

.timetable tr{
    border-radius: var(--timetable-border-radius);
}

th, td {
    padding: 10px;
    margin: 0;
    border-radius: var(--timetable-border-radius);
}

.timetable-header{
    background-color: var(--timetable-header-color);
}

.timetable-row{
    background-color: var(--timetable-table-color);
}

.timetable-row:hover{
    background-color: var(--timetable-highlight-color);
    transition: background-color var(--timetable-transition-time);
}

.timetable-filter {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    align-self: flex-start;
    margin-bottom: 5px;
}

.timetable-filter label {
    margin-right: 10px;
    margin-bottom: 7px;
    padding: 5px 20px;
    font-size: large;
    border: solid 2px var(--timetable-button-color);
    border-radius: var(--timetable-border-radius);
    background: var(--timetable-button-color);
}

.timetable-filter label:has(input[type=radio]:checked) {
    background: var(--timetable-highlight-color);
    border-color: var(--timetable-highlight-color);
}

.timetable-filter label:has(input[type=radio]:hover) {
    border-color: var(--timetable-border-color);
    transition: border-color var(--timetable-transition-time);
}

.timetable-filter input[type=radio] {
    position:absolute;
    opacity: 0;
}

.timetable-button {
    border: none;
    background-color: inherit;
    color: var(--timetable-text-color);
}

.timetable-button:hover {
    color: var(--timetable-text-highlight-color);
    transition: color var(--timetable-transition-time);
}

.timetable-title {
    color: var(--timetable-text-color);
    margin: 20px;
    font-size: xx-large;
}

.timetable-back-button {
    margin-right: 10px;
    margin-top: 20px;
    font-size: medium;
    border: solid 2px var(--timetable-button-color);
    border-radius: var(--timetable-border-radius);
    background: var(--timetable-button-color);
}

.timetable-back-button:hover {
    border-color: var(--timetable-border-color);

}
