/* Swiper CSS */
@import url("https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --sidebar-width: 200px;
  --sidebar-width-min: 60px;
  --current-sidebar-width: var(--sidebar-width);

  --primary: #0054a4;
  --background: #0a1a2f;
  --accent: #dce3eb;
  --surface: #152238;
  --text-light: #f2f5f7;
  --success: #2ecc71;
  --accent-light: #dce3eb;
  --surface-light: #1c2f4a;
}

.app-content {
  margin-left: var(--current-sidebar-width);
  transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
  .app-content {
    margin-left: var(--sidebar-width-min);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

html,
body {
  background: var(--background) !important;
  color: var(--text-light);
}
