name: build frontend

on:
  push:
    paths:
      - 'frontend/**'

jobs:
  build-frontend:

    name: Build Frontend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "frontend/frontend"

    steps:
    - uses: actions/checkout@v4

    - name: Setup node
      uses: actions/setup-node@v6

    - name: Restore dependencies
      run: npm ci

    - name: Build
      run: npm run build
